<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 파비콘(favicon) 설정 링크 -->
<link rel="shortcut icon" href="http://localhost/images/favicon.ico"/>

<!-- 부트스트랩  CDN -->    
<link rel="stylesheet" type="text/css"
href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"/>
<style type="text/css">

</style>

<!-- JQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js">
</script>

<script type="text/javascript">
$(function(){
	
}); //ready

function print(msg){
	alert(msg);
	$("output").html("<strong>"+msg+"</strong>");
} //print
</script>

</head>
<body>
<h1 th:text="${ adviceMsg }"></h1>
<h2 th:text="${ msg }"></h2>
<h2><span th:text="${ msg }" th:onclick="print([[${msg}]])"></span></h2>
<div id="output">
</div>
<a href="/">메인</a>
</body>
</html>